@model HomeViewModel
@*
@inject LayoutService service
@{

	var user = await service.GetAppUser();

} *@

﻿<!-- **************** MAIN CONTENT START **************** -->
<main>

	<!-- Container START -->
	<div class="container">
		<div class="row g-4">

			<!-- Sidenav START -->
			<div class="col-lg-3">

				<!-- Advanced filter responsive toggler START -->
				<div class="d-flex align-items-center d-lg-none">
					<button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
						<span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
						<span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
					</button>
				</div>
				<!-- Advanced filter responsive toggler END -->
				<!-- Navbar START-->
				<nav class="navbar navbar-expand-lg mx-0">
					<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
						<!-- Offcanvas header -->
						<div class="offcanvas-header">
							<button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>

						<!-- Offcanvas body -->
						<div class="offcanvas-body d-block px-2 px-lg-0">
							<!-- Card START -->
							<div class="card overflow-hidden">
								<!-- Cover image -->
								<div class="h-50px" style="background-image:url(assets/images/bg/01.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
								<!-- Card body START -->
								<div class="card-body pt-0">
									<div class="text-center">
										<!-- Avatar -->
										<div class="avatar avatar-lg mt-n5 mb-3">
											<a href="#!">
												@if (@Model.AppUsers.FirstOrDefault(x => x.Status == true).PhotoUrl == null)
												{
													<img class="avatar-img rounded border border-white border-3" src="https://i.insider.com/589a002a6e09a824008b5c31?width=600&format=jpeg&auto=webp" />
												}
												else
												{
													<img class="avatar-img rounded border border-white border-3" src="~/uploads/appusers/@Model.AppUsers.FirstOrDefault(x=>x.Status==true).PhotoUrl" alt="">
												}

										</div>
										<!-- Info -->
										<h5 class="mb-0">
											<a href="#!">
												@if (!User.Identity.IsAuthenticated)
												{
													<div class="login-block">
														<a asp-action="login" asp-controller="account" class="font-weight-bold">Login</a> <br>
														<span>or</span><a asp-action="register" asp-controller="account">Register</a>
													</div>
												}
												else
												{
													<div class="login-block">
														<a asp-action="profile" asp-controller="account" class="font-weight-bold">@User.Identity.Name</a> <br>
														<a asp-action="logout" asp-controller="account">Logout</a>
													</div>
												}
											</a>
										</h5>
										<small>@Model.AppUsers.FirstOrDefault(x => x.Status == true).Profession</small>
										<p class="mt-3">I'd love to change the world, but they won’t give me the source code.</p>

										<!-- User stat START -->
										<div class="hstack gap-2 gap-xl-3 justify-content-center">
											<!-- User stat item -->
											<div>
												<h6 class="mb-0">256</h6>
												<small>Post</small>
											</div>
											<!-- Divider -->
											<div class="vr"></div>
											<!-- User stat item -->
											<div>
												<h6 class="mb-0">2.5K</h6>
												<small>Followers</small>
											</div>
											<!-- Divider -->
											<div class="vr"></div>
											<!-- User stat item -->
											<div>
												<h6 class="mb-0">365</h6>
												<small>Following</small>
											</div>
										</div>
										<!-- User stat END -->
									</div>

									<!-- Divider -->
									<hr>

									<!-- Side Nav START -->
									<ul class="nav nav-link-secondary flex-column fw-bold gap-2">

										<li class="nav-item">
											<a class="nav-link" href="groups.html"> <img class="me-2 h-20px fa-fw" src="assets/images/icon/chat-outline-filled.svg" alt=""><span>Groups </span></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="notifications.html"> <img class="me-2 h-20px fa-fw" src="assets/images/icon/notification-outlined-filled.svg" alt=""><span>Notifications </span></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="settings.html"> <img class="me-2 h-20px fa-fw" src="assets/images/icon/cog-outline-filled.svg" alt=""><span>Settings </span></a>
										</li>
									</ul>
									<!-- Side Nav END -->
								</div>
								<!-- Card body END -->
								<!-- Card footer -->
								<div class="card-footer text-center py-2">
									<a class="btn btn-link btn-sm" asp-action="profile" asp-controller="account">View Profile </a>
								</div>
							</div>
							<!-- Card END -->
							<!-- Helper link START -->
							<!-- Helper link END -->
							<!-- Copyright -->
							<p class="small text-center mt-1">©2024 <a class="text-reset" target="_blank" href="https://www.webestica.com/"> Webestica </a></p>
						</div>
					</div>
				</nav>
				<!-- Navbar END-->
			</div>
			<!-- Sidenav END -->
			<!-- Main content START -->
			<div class="col-md-8 col-lg-6 vstack gap-4">

				<!-- Story START -->
				<div class="d-flex gap-2 mb-n3">
					<div class="position-relative">
						<div class="card border border-2 border-dashed h-150px px-4 px-sm-5 shadow-none d-flex align-items-center justify-content-center text-center">
							<div>
								<a class="stretched-link btn btn-light rounded-circle icon-md" href="#!"><i class="fa-solid fa-plus"></i></a>
								<h6 class="mt-2 mb-0 small">Post a Story</h6>
							</div>
						</div>
					</div>

					<!-- Stories -->
					<div id="stories" class="storiesWrapper stories-square stories user-icon carousel scroll-enable"></div>
				</div>
				<!-- Story END -->
				<!-- Share feed START -->
				<div class="card card-body">
					<div class="d-flex mb-3">
						<!-- Avatar -->
						<div class="avatar avatar-xs me-2">
							<a href="#">
								@if (@Model.AppUsers.FirstOrDefault(x => x.Status == true).PhotoUrl == null)
								{
									<img class="avatar-img rounded-circle" src="https://i.insider.com/589a002a6e09a824008b5c31?width=600&format=jpeg&auto=webp" />
								}
								else
								{
									<img class="avatar-img rounded border border-white border-3" class="avatar-img rounded-circle" src="~/uploads/appusers/@Model.AppUsers.FirstOrDefault(x=>x.Status==true).PhotoUrl" alt="">
								}
							</a>
						</div>
						<!-- Post input -->

					</div>
					<!-- Share feed toolbar START -->
					<ul class="nav nav-pills nav-stack small fw-normal">
						<li class="nav-item">
							<a class="nav-link bg-light py-1 px-2 mb-0" asp-action="createimage" asp-controller="post" data-bs-target="#feedActionPhoto"> <i class="bi bi-image-fill text-success pe-2"></i>Photo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link bg-light py-1 px-2 mb-0" asp-action="createVideo" asp-controller="post" data-bs-target="#feedActionVideo"> <i class="bi bi-camera-reels-fill text-info pe-2"></i>Video</a>
						</li>


					</ul>
					<!-- Share feed toolbar END -->
				</div>

				<!-- Share feed END -->
				@foreach (var item in Model.Posts)
				{
					
					<!-- Card feed item START -->
					<div class="card">
						<!-- Card header START -->
						<div class="card-header border-0 pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar avatar-story me-2">
										<a href="#!"> <img class="avatar-img rounded-circle" src="~/assets/images/avatar/04.jpg" alt=""> </a>
									</div>
									<!-- Info -->
									<div>
										<div class="nav nav-divider">
											<h6 class="nav-item card-title mb-0"> <a href="#!"> @item.AppUser.FullName</a></h6>
											<span class="nav-item small"> @item.CreatedDate</span>
										</div>
										<p class="mb-0 small">@item.AppUser.Profession</p>
									</div>
								</div>
								<!-- Card feed action dropdown START -->
								<div class="dropdown">
									<a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bi bi-three-dots"></i>
									</a>
									<!-- Card feed action dropdown menu -->
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">
										<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
										<li><a class="dropdown-item" href="#"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow lori ferguson </a></li>
										<li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
										<li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
									</ul>
								</div>
								<!-- Card feed action dropdown END -->
							</div>
						</div>
						<!-- Card header END -->
						<!-- Card body START -->
						<div class="card-body">
							<p>@item.Context</p>
							<!-- Card img -->
							@if (item.ImageUrl == null)
							{
								<div class="overflow-hidden fullscreen-video w-100">

									<!-- HTML video START -->
									<div class="player-wrapper overflow-hidden">
										<video class="player-html" controls crossorigin="anonymous" poster="~/uploads/posts/@item.VideoUrl">
											<source src="~/uploads/posts/@item.VideoUrl">
										</video>
									</div>
									<!-- HTML video END -->
									<!-- Plyr resources and browser polyfills are specified in the pen settings -->
								</div>
							}
							else
							{
								<img class="card-img" src="~/uploads/posts/@item.ImageUrl" alt="Post">
							}

							<!-- Feed react START -->
							<ul class="nav nav-stack py-3 small">
								<li class="nav-item">
									<a class="nav-link active" href="#!" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="tooltip-text-start" data-bs-title="Frances Guerrero<br> Lori Stevens<br> Billy Vasquez<br> Judy Nguyen<br> Larry Lawson<br> Amanda Reed<br> Louis Crawford"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked (56)</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments (12)</a>
								</li>
								<!-- Card share action START -->
								<li class="nav-item dropdown ms-sm-auto">
									<a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
									</a>
									<!-- Card share action dropdown menu -->
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">
										<li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
										<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
										<li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
										<li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
									</ul>
								</li>
								<!-- Card share action END -->
							</ul>
							<!-- Feed react END -->
							<!-- Add comment -->
							<div class="d-flex mb-3">
								<!-- Avatar -->
								<div class="avatar avatar-xs me-2">
									<a href="#!"> <img class="avatar-img rounded-circle" src="~/assets/images/avatar/12.jpg" alt=""> </a>
								</div>
								<!-- Comment box  -->
								<form class="nav nav-item w-100 position-relative">
									<textarea data-autoresize class="form-control pe-5 bg-light" rows="1" placeholder="Add a comment..."></textarea>
									<button class="nav-link bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0" type="submit">
										<i class="bi bi-send-fill"> </i>
									</button>
								</form>
							</div>
							<!-- Comment wrap START -->
							<ul class="comment-wrap list-unstyled">
								<!-- Comment item START -->
								<li class="comment-item">
									<div class="d-flex position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-xs">
											<a href="#!"><img class="avatar-img rounded-circle" src="~/assets/images/avatar/05.jpg" alt=""></a>
										</div>
										<div class="ms-2">
											<!-- Comment by -->
											<div class="bg-light rounded-start-top-0 p-3 rounded">
												<div class="d-flex justify-content-between">
													<h6 class="mb-1"> <a href="#!"> Frances Guerrero </a></h6>
													<small class="ms-2">5hr</small>
												</div>
												<p class="small mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection.</p>
											</div>
											<!-- Comment react -->
											<ul class="nav nav-divider py-2 small">
												<li class="nav-item">
													<a class="nav-link" href="#!"> Like (3)</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#!"> Reply</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#!"> View 5 replies</a>
												</li>
											</ul>
										</div>
									</div>
									<!-- Comment item nested START -->
									<ul class="comment-item-nested list-unstyled">
										<!-- Comment item START -->
										<li class="comment-item">
											<div class="d-flex">
												<!-- Avatar -->
												<div class="avatar avatar-xs">
													<a href="#!"><img class="avatar-img rounded-circle" src="~/assets/images/avatar/06.jpg" alt=""></a>
												</div>
												<!-- Comment by -->
												<div class="ms-2">
													<div class="bg-light p-3 rounded">
														<div class="d-flex justify-content-between">
															<h6 class="mb-1"> <a href="#!"> Lori Stevens </a> </h6>
															<small class="ms-2">2hr</small>
														</div>
														<p class="small mb-0">See resolved goodness felicity shy civility domestic had but Drawings offended yet answered Jennings perceive.</p>
													</div>
													<!-- Comment react -->
													<ul class="nav nav-divider py-2 small">
														<li class="nav-item">
															<a class="nav-link" href="#!"> Like (5)</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" href="#!"> Reply</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<!-- Comment item END -->
										<!-- Comment item START -->
										<li class="comment-item">
											<div class="d-flex">
												<!-- Avatar -->
												<div class="avatar avatar-story avatar-xs">
													<a href="#!"><img class="avatar-img rounded-circle" src="~/assets/images/avatar/07.jpg" alt=""></a>
												</div>
												<!-- Comment by -->
												<div class="ms-2">
													<div class="bg-light p-3 rounded">
														<div class="d-flex justify-content-between">
															<h6 class="mb-1"> <a href="#!"> Billy Vasquez </a> </h6>
															<small class="ms-2">15min</small>
														</div>
														<p class="small mb-0">Wishing calling is warrant settled was lucky.</p>
													</div>
													<!-- Comment react -->
													<ul class="nav nav-divider py-2 small">
														<li class="nav-item">
															<a class="nav-link" href="#!"> Like</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" href="#!"> Reply</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<!-- Comment item END -->
									</ul>
									<!-- Load more replies -->
									<a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5" data-bs-toggle="button" aria-pressed="true">
										<div class="spinner-dots me-2">
											<span class="spinner-dot"></span>
											<span class="spinner-dot"></span>
											<span class="spinner-dot"></span>
										</div>
										Load more replies
									</a>
									<!-- Comment item nested END -->
								</li>
								<!-- Comment item END -->
								<!-- Comment item START -->
								<li class="comment-item">
									<div class="d-flex">
										<!-- Avatar -->
										<div class="avatar avatar-xs">
											<a href="#!"><img class="avatar-img rounded-circle" src="~/assets/images/avatar/05.jpg" alt=""></a>
										</div>
										<!-- Comment by -->
										<div class="ms-2">
											<div class="bg-light p-3 rounded">
												<div class="d-flex justify-content-between">
													<h6 class="mb-1"> <a href="#!"> Frances Guerrero </a> </h6>
													<small class="ms-2">4min</small>
												</div>
												<p class="small mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection.</p>
											</div>
											<!-- Comment react -->
											<ul class="nav nav-divider pt-2 small">
												<li class="nav-item">
													<a class="nav-link" href="#!"> Like (1)</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#!"> Reply</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#!"> View 6 replies</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<!-- Comment item END -->
							</ul>
							<!-- Comment wrap END -->
						</div>
						<!-- Card body END -->
						<!-- Card footer START -->
						<div class="card-footer border-0 pt-0">
							<!-- Load more comments -->
							<a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center" data-bs-toggle="button" aria-pressed="true">
								<div class="spinner-dots me-2">
									<span class="spinner-dot"></span>
									<span class="spinner-dot"></span>
									<span class="spinner-dot"></span>
								</div>
								Load more comments
							</a>
						</div>
						<!-- Card footer END -->
					</div>
					<!-- Card feed item END -->
				}


				<!-- Card feed item START -->
				<div class="card">
					<!-- Card header START -->
					<div class="card-header d-flex justify-content-between align-items-center border-0 pb-0">
						<h6 class="card-title mb-0">People you may know</h6>
						<button class="btn btn-sm btn-primary-soft"> See all </button>
					</div>
					<!-- Card header START -->
					<!-- Card body START -->
					<div class="card-body">
						<div class="tiny-slider arrow-hover">
							<div class="tiny-slider-inner ms-n4" data-arrow="true" data-dots="false" data-items-xl="3" data-items-lg="2" data-items-md="2" data-items-sm="2" data-items-xs="1" data-gutter="12" data-edge="30">
								<!-- Slider items -->
								@foreach (var item in Model.AppUsers)
								{
									<div>
										<!-- Card add friend item START -->
										<div class="card shadow-none text-center">
											<!-- Card body -->
											<div class="card-body p-2 pb-0">
												<div class="avatar avatar-xl">
													<a href="#!">

														@if (item.PhotoUrl == null)
														{
															<img class="avatar-img rounded-circle" src="https://i.insider.com/589a002a6e09a824008b5c31?width=600&format=jpeg&auto=webp" />
														}
														else
														{
															<img class="avatar-img rounded-circle" src="~/uploads/appusers/@item.PhotoUrl " alt="">
														}
													</a>
												</div>
												<h6 class="card-title mb-1 mt-3"> <a href="#!">@item.FullName </a></h6>
												<p class="mb-0 small lh-sm">@item.Profession</p>
											</div>
											<!-- Card footer -->
											<div class="card-footer p-2 border-0">
												<button class="btn btn-sm btn-primary-soft w-100"> Add friend </button>
											</div>
										</div>
										<!-- Card add friend item END -->
									</div>
								}
							</div>
						</div>
					</div>
					<!-- Card body END -->
				</div>
				<!-- Card feed item END -->
				
				<!-- Load more button START -->
				<a href="#!" role="button" class="btn btn-loader btn-primary-soft" data-bs-toggle="button" aria-pressed="true">
					<span class="load-text"> Load more </span>
					<div class="load-icon">
						<div class="spinner-grow spinner-grow-sm" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>
					</div>
				</a>
				<!-- Load more button END -->

			</div>
			<!-- Main content END -->
			<!-- Right sidebar START -->
			<div class="col-lg-3">
				<div class="row g-4">
					<!-- Card follow START -->
					<div class="col-sm-6 col-lg-12">
						<div class="card">
							<!-- Card header START -->
							<div class="card-header pb-0 border-0">
								<h5 class="card-title mb-0">Who to follow</h5>
							</div>
							<!-- Card header END -->
							<!-- Card body START -->
							<div class="card-body">
								<!-- Connection item START -->
								<div class="hstack gap-2 mb-3">
									<!-- Avatar -->
									<div class="avatar">
										<a href="#!"><img class="avatar-img rounded-circle" src="~/assets/images/avatar/04.jpg" alt=""></a>
									</div>
									<!-- Title -->
									<div class="overflow-hidden">
										<a class="h6 mb-0" href="#!">Judy Nguyen </a>
										<p class="mb-0 small text-truncate">News anchor</p>
									</div>
									<!-- Button -->
									<a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
								</div>
								<!-- Connection item END -->
								<!-- Connection item START -->
								<div class="hstack gap-2 mb-3">
									<!-- Avatar -->
									<div class="avatar avatar-story">
										<a href="#!"> <img class="avatar-img rounded-circle" src="~/assets/images/avatar/05.jpg" alt=""> </a>
									</div>
									<!-- Title -->
									<div class="overflow-hidden">
										<a class="h6 mb-0" href="#!">Amanda Reed </a>
										<p class="mb-0 small text-truncate">Web Developer</p>
									</div>
									<!-- Button -->
									<a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
								</div>
								<!-- Connection item END -->
								<!-- Connection item START -->
								<div class="hstack gap-2 mb-3">
									<!-- Avatar -->
									<div class="avatar">
										<a href="#"> <img class="avatar-img rounded-circle" src="~/assets/images/avatar/11.jpg" alt=""> </a>
									</div>
									<!-- Title -->
									<div class="overflow-hidden">
										<a class="h6 mb-0" href="#!">Billy Vasquez </a>
										<p class="mb-0 small text-truncate">News anchor</p>
									</div>
									<!-- Button -->
									<a class="btn btn-primary rounded-circle icon-md ms-auto" href="#"><i class="bi bi-person-check-fill"> </i></a>
								</div>
								<!-- Connection item END -->
								<!-- Connection item START -->
								<div class="hstack gap-2 mb-3">
									<!-- Avatar -->
									<div class="avatar">
										<a href="#"> <img class="avatar-img rounded-circle" src="~/assets/images/avatar/01.jpg" alt=""> </a>
									</div>
									<!-- Title -->
									<div class="overflow-hidden">
										<a class="h6 mb-0" href="#!">Lori Ferguson </a>
										<p class="mb-0 small text-truncate">Web Developer at Webestica</p>
									</div>
									<!-- Button -->
									<a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
								</div>
								<!-- Connection item END -->
								<!-- Connection item START -->
								<div class="hstack gap-2 mb-3">
									<!-- Avatar -->
									<div class="avatar">
										<a href="#"> <img class="avatar-img rounded-circle" src="~/assets/images/avatar/placeholder.jpg" alt=""> </a>
									</div>
									<!-- Title -->
									<div class="overflow-hidden">
										<a class="h6 mb-0" href="#!">Carolyn Ortiz </a>
										<p class="mb-0 small text-truncate">News anchor</p>
									</div>
									<!-- Button -->
									<a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
								</div>
								<!-- Connection item END -->
								<!-- View more button -->
								<div class="d-grid mt-3">
									<a class="btn btn-sm btn-primary-soft" href="#!">View more</a>
								</div>
							</div>
							<!-- Card body END -->
						</div>
					</div>
					<!-- Card follow START -->

				</div>
			</div>
			<!-- Right sidebar END -->

		</div> <!-- Row END -->
	</div>
	<!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->