@model List<Post>
@{
    int count = 0;
}
<div class="d-flex justify-content-between align-items-center container-fluid">
    <h1>Posts</h1>
    <a asp-action="create" asp-controller="post" class="btn btn-primary">Create</a>
</div>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Context</th>
                <th scope="col">Status</th>
                <th scope="col">FormFile</th>
               
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Context</td>
                    <td>@item.Status</td>
                    <td>
                        <img style="max-width:100px" src="~/uploads/posts/@item.FormUrl" />
                    </td>
                   
                    <td>
                        <a asp-action="update" asp-controller="post" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-action="delete" asp-controller="post" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        <a asp-action="softdelete" asp-controller="post" asp-route-id="@item.Id" class="btn btn-success">SoftDelete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
